python-dotenv
langchain>=0.3.0
langchain-community>=0.3.0
langchain-openai>=0.2.0
langchain-huggingface>=0.1.1
langchain-google-genai>=2.1.4
streamlit==1.45.1
faiss-cpu==1.8.0
sentence-transformers==2.7.0
pypdf==4.2.0
docx2txt==0.8
gdown>=4.7.1
google-auth-oauthlib>=1.2.1
google-api-python-client>=2.149.0
schedule>=1.2.2
